*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

@-webkit-keyframes GLOW {
  from {
    opacity: 0.55;
  }
  to {
    opacity: 1;
  }
}

@keyframes GLOW {
  from {
    opacity: 0.55;
  }
  to {
    opacity: 1;
  }
}

.Admission__Upper {
  width: 100%;
  height: 45vh;
  background: url(/static/images/campus.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-origin: padding-box;
  background-position: center;
  background-position-y: -50px;
  color: white;
}

.Admission__Upper .container {
  background: rgba(1, 1, 1, 0.5);
  height: inherit;
  position: relative;
}

.Admission__Upper .container label {
  padding: 1em;
  position: absolute;
  bottom: 14%;
  left: 2%;
}

.Admission__Upper .container label h1 {
  font-size: 8.5vmin;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  -webkit-animation: GLOW 3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s infinite;
          animation: GLOW 3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s infinite;
}

.Admission__MainWindow {
  background: #ffffff;
  padding: 2em;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3.5fr 1fr;
      grid-template-columns: 3.5fr 1fr;
  grid-auto-rows: minmax(1fr, 200px);
  grid-gap: 0.33em;
}

.Admission__MainWindow .Admission__InfoWindow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0.6em;
  width: 100%;
}

.Admission__MainWindow .Admission__InfoWindow h1 {
  color: #182C61;
  text-align: left;
  font-size: 3vmax;
  padding: 0 0 0.5em 0;
  letter-spacing: 0.88px;
}

.Admission__MainWindow .Admission__InfoWindow .line {
  padding: 0.03rem;
  background: lightgray;
  width: 100%;
  margin-bottom: 1em;
}

.Admission__MainWindow .Admission__InfoWindow .AdmissionApplication {
  width: 100%;
  overflow: hidden;
  padding: 1em;
  background: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(380px, 1fr);
  grid-gap: 2.5em;
}

.Admission__MainWindow .Admission__InfoWindow .AdmissionApplication .__card {
  width: 100%;
  padding: 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 1px 5px 16px 2px #818181;
          box-shadow: 1px 5px 16px 2px #818181;
}

.Admission__MainWindow .Admission__InfoWindow .AdmissionApplication .__card .__cardImage {
  width: 100%;
  position: relative;
  height: 10em;
  overflow: hidden;
  position: relative;
  background: rgba(1, 1, 1, 0.5);
}

.Admission__MainWindow .Admission__InfoWindow .AdmissionApplication .__card .__cardImage img {
  width: 100%;
  max-width: 100%;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  height: 100%;
  cursor: pointer;
  -webkit-filter: blur(0.5px) brightness(80%);
          filter: blur(0.5px) brightness(80%);
  -webkit-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s, -webkit-filter cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s;
  transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s, -webkit-filter cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s;
  transition: transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s, filter cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s;
  transition: transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s, filter cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s, -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s, -webkit-filter cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s;
}

.Admission__MainWindow .Admission__InfoWindow .AdmissionApplication .__card .__cardImage img:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-filter: blur(0px) brightness(100%);
          filter: blur(0px) brightness(100%);
  -webkit-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s, -webkit-filter cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s;
  transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s, -webkit-filter cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s;
  transition: transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s, filter cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s;
  transition: transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s, filter cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s, -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s, -webkit-filter cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s;
}

.Admission__MainWindow .Admission__InfoWindow .AdmissionApplication .__card .__cardTitle {
  margin-top: 0.5em;
  font-size: 1.2rem;
  font-weight: bold;
  color: #2b46b4;
  padding: 0.5em;
  letter-spacing: 0.59px;
  font-family: 'Alegreya Sans',sans-serif;
  text-align: left;
}

.Admission__MainWindow .Admission__InfoWindow .AdmissionApplication .__card .__cardDetails ul {
  list-style: none;
  padding: 1em;
}

.Admission__MainWindow .Admission__InfoWindow .AdmissionApplication .__card .__cardDetails ul li, .Admission__MainWindow .Admission__InfoWindow .AdmissionApplication .__card .__cardDetails ul li a {
  font-family: 'Abel',sans-serif;
  margin-bottom: 0.55em;
  font-weight: bold;
  font-size: 0.92rem;
  text-decoration: none;
  color: #696969;
  letter-spacing: 0.6px;
  cursor: pointer;
}

.Admission__MainWindow .Admission__InfoWindow .AdmissionApplication .__card .__cardDetails ul li:hover, .Admission__MainWindow .Admission__InfoWindow .AdmissionApplication .__card .__cardDetails ul li a:hover {
  color: crimson;
}

.Admission__MainWindow .Admission__InfoWindow .AdmissionApplication .__card .__cardButton {
  padding: 0.8em;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 20;
  bottom: 0.3em;
  width: 100%;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#2980b9), to(#094e7c));
  background: linear-gradient(180deg, #2980b9, #094e7c);
  color: white;
  letter-spacing: 0.6px;
  font-weight: bold;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.1em;
  -webkit-transform: scale(0.95, 0.95);
          transform: scale(0.95, 0.95);
  -webkit-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s;
  transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s;
  transition: transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s;
  transition: transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s, -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s;
}

.Admission__MainWindow .Admission__InfoWindow .AdmissionApplication .__card .__cardButton:hover {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s;
  transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s;
  transition: transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s;
  transition: transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s, -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s;
  background: -webkit-gradient(linear, left top, left bottom, from(#1c8648), to(#096e35));
  background: linear-gradient(180deg, #1c8648, #096e35);
}

.Admission__MainWindow .Admission__InfoWindow .AdmissionProcedure ul {
  list-style: none;
}

.Admission__MainWindow .Admission__InfoWindow .AdmissionProcedure ul li h3 {
  margin-bottom: 0.7em;
  color: #2b46b4;
}

.Admission__MainWindow .Admission__InfoWindow .AdmissionProcedure ul li .ProcedurePoints ul {
  list-style: none;
  padding: 0.5em;
}

.Admission__MainWindow .Admission__InfoWindow .AdmissionProcedure ul li .ProcedurePoints ul li {
  margin-bottom: 0.66em;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: #4e4e4e;
  font-family: 'Abel', sans-serif;
}

.Admission__MainWindow .Admission__InfoWindow p {
  text-align: justify;
  line-height: 25px;
  color: #464646;
  font-size: 0.99rem;
}

.Admission__MainWindow .Admission__QuickAccess {
  padding: 1em 1em 1em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-left: 0.06rem solid lightgray;
}

.Admission__MainWindow .Admission__QuickAccess ul {
  list-style: none;
  position: relative;
}

.Admission__MainWindow .Admission__QuickAccess ul li a {
  text-decoration: none;
  color: inherit;
}

.Admission__MainWindow .Admission__QuickAccess ul li:nth-child(1) {
  margin-bottom: 1.2em;
  letter-spacing: 1px;
  color: #182C61;
  width: 100%;
  font-size: 3vmin;
  padding: 0.2em 0.2em 0.2em 0.5em;
  border-left: 0.22em solid #ffa502;
}

.Admission__MainWindow .Admission__QuickAccess ul li:not(:nth-child(1)) {
  padding-left: 1em;
  margin-bottom: 0.96em;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.89rem;
  color: #3742fa;
}

.Admission__MainWindow .Admission__QuickAccess ul li:not(:nth-child(1)):hover {
  color: #e67e22;
}

@media screen and (max-width: 777px) {
  .Admission__MainWindow {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
  .Admission__MainWindow .Admission__QuickAccess {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
/*# sourceMappingURL=Admission.css.map */