@import '../../common_sass/_common';

@keyframes GLOW 
{
    from{
           opacity: 0.55;
    }
    to{
        opacity: 1;
    }
}
.Admission__Upper
{
    width: 100%;
    height: 45vh;
    background: url(/static/images/campus.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-origin: padding-box;
    background-position: center;
    background-position-y: -50px;
    color:white;

    .container
    {
        background: rgba(1,1,1,0.5);
        height: inherit;
        position: relative;

        label
        {
            padding: 1em;
            position: absolute;
            bottom: 14%;
            left:2%;
            h1
            {
                font-size:8.5vmin;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 3px;
                animation: GLOW 3s cubic-bezier(0.215, 0.610, 0.355, 1) 0s infinite;
            }
        }
    }
}

.Admission__MainWindow
{
   background: #ffffff;
   padding: 2em;
   box-sizing: content-box;
   @include gridMaker(3.5fr 1fr,minmax(1fr,200px),0.33em);
  
   .Admission__InfoWindow
   {
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       padding: 0.6em;
       h1
       {
           color:#182C61;
           text-align: left;
           font-size: 3vmax;
           padding: 0 0 0.5em 0;
           letter-spacing: 0.88px;
       }
       .line
       {
           padding: 0.03rem;
           background: lightgray;
           width: 100%;
           margin-bottom: 1em;
       }
       .AdmissionProcedure
       {
          ul
          {
              list-style: none;
              li
              {
                 h3{
                    margin-bottom: 0.7em;
                    color:#2b46b4;
                 } 
                  .ProcedurePoints
                  {
                      ul{
                          list-style: none;
                          padding: 0.5em;
                          li
                          {
                              margin-bottom: 0.66em;
                              font-size:1rem;
                              letter-spacing: 0.5px;
                              font-weight: bold;
                              color:#4e4e4e;
                              font-family: 'Abel', sans-serif;
                          }
                      }
                  }
              }
          }
       }
       p
       {
         text-align: justify;
         line-height: 25px;
         color: #464646;
         font-size:0.99rem;
       }
   }
   .Admission__QuickAccess
   {
       padding: 1em 1em 1em 1em;
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: flex-start;
       border-left: 0.06rem solid lightgray;
       ul
       {
           list-style: none;
           position: relative;
           li
           {
               a
               {
                   text-decoration: none;
                   color: inherit;
               }
               &:nth-child(1)
               {
                   margin-bottom: 1.2em;
                   letter-spacing: 1px;
                   color:#182C61;
                   width: 100%;
                   font-size: 3vmin;
                   padding: 0.2em 0.2em 0.2em 0.5em;
                   border-left: 0.22em solid #ffa502;
               }
              
               &:not(:nth-child(1))
               {
                padding-left: 1em;   
                margin-bottom: 0.96em;
                cursor: pointer;
                font-weight: bold;
                font-size: 0.89rem;
                color:#3742fa;

                &:hover
                {
                    color:#e67e22;
                }
               }
           }

       }
   }
  
 
}

@media screen and (max-width:777px) {
    .Admission__MainWindow{
        display: grid;
        grid-template-columns: none;
        .Admission__QuickAccess
        {
            border:none;
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }
    }
}