@import '../../common_sass/_common';

@keyframes GLOW 
{
    from{
           opacity: 0.55;
    }
    to{
        opacity: 1;
    }
}
.Admission__Upper
{
    width: 100%;
    height: 45vh;
    background: url(/static/images/campus.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-origin: padding-box;
    background-position: center;
    background-position-y: -50px;
    color:white;

    .container
    {
        background: rgba(1,1,1,0.5);
        height: inherit;
        position: relative;

        label
        {
            padding: 1em;
            position: absolute;
            bottom: 14%;
            left:2%;
            h1
            {
                font-size:8.5vmin;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 3px;
                animation: GLOW 3s cubic-bezier(0.215, 0.610, 0.355, 1) 0s infinite;
            }
        }
    }
}

.Admission__MainWindow
{
   background: #ffffff;
   padding: 2em;
   box-sizing: content-box;
   @include gridMaker(3.5fr 1fr,minmax(1fr,200px),0.33em);
  
   .Admission__InfoWindow
   {
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       padding: 0.6em;
       h1
       {
           margin-bottom: 1em;
           color:#2980b9;
           text-align: left;
           font-size: 1.8rem;
           letter-spacing: 0.88px;
       }
       p
       {
         text-align: justify;
         line-height: 25px;
         color: #464646;
         font-size:0.99rem;
       }
   }
   .Admission__QuickAccess
   {
       padding: 1em 1em 1em 1em;
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: flex-start;
       border-left: 0.06rem solid lightgray;
       ul
       {
           list-style: none;
           position: relative;
           li
           {
               &:nth-child(1)
               {
                   margin-bottom: 1.2em;
                   letter-spacing: 1px;
                   color:#202020;
                   padding: 0.2em 0.2em 0.2em 0.5em;
                   border-left: 0.22em solid #1c1c83;
               }
              
               &:not(:nth-child(1))
               {
                padding-left: 1em;   
                margin-bottom: 0.96em;
                cursor: pointer;
                font-weight: bold;
                font-size: 0.89rem;
                color:#2980b9;

                &:hover
                {
                    color:#e67e22;
                }
               }
           }

       }
   }


}