@import '../../common_sass/_common';

@keyframes GLOW 
{
    from{
           opacity: 0.55;
    }
    to{
        opacity: 1;
    }
}
.Admission__Upper
{
    width: 100%;
    height: 45vh;
    background: url(/static/images/campus.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-origin: padding-box;
    background-position: center;
    background-position-y: -50px;
    color:white;

    .container
    {
        background: rgba(1,1,1,0.5);
        height: inherit;
        position: relative;

        label
        {
            padding: 1em;
            position: absolute;
            bottom: 14%;
            left:2%;
            h1
            {
                font-size:8.5vmin;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 3px;
                animation: GLOW 3s cubic-bezier(0.215, 0.610, 0.355, 1) 0s infinite;
            }
        }
    }
}

.Admission__MainWindow
{
   background: #F9F9F9;
   padding: 2em;
   box-sizing: content-box;
   @include gridMaker(3.5fr 1fr,minmax(1fr,200px),0.33em);
  
   .Admission__InfoWindow
   {
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       padding: 0.6em;
       width: 100%;
       h1
       {
           color:#182C61;
           text-align: left;
           font-size: 5.5vmin;
           padding: 0 0 0.5em 0;
           letter-spacing: 0.88px;
       }
       .line
       {
           padding: 0.03rem;
           background: lightgray;
           width: 100%;
           margin-bottom: 1em;
       }
       .SubTitle
       {
           margin-left:0.5em;
           font-size: 5vmin;
           color:#3a8ac0;
           text-align: left;
           width: 100%;
           font-family: 'Abel',sans-serif;
       }
       .EducationLoan
       {
           width: 100%;
           p
           {
             text-align: justify;
             font-family: 'Abel',sans-serif;
             color:#4e4e4e;
             letter-spacing: 0.6px;
             font-weight: bold;
             font-size:0.99rem;
             margin-bottom: 1.5em;
           }
           .__EducationLoanOtherInfo
           {
               h3
               {
                   color: #182C61;
                   margin-bottom: 0.8em;
                   text-transform: capitalize;
                   line-height: 28px;
                   text-align: left;
               }
           }
       }
       .AdmissionApplication
       {
           width:100%;
           overflow: hidden;
           padding: 1em;
           background: inherit;
           box-sizing: border-box;
           @include gridMaker(repeat(auto-fit,minmax(250px,1fr)),minmax(400px,1fr),2.5em);
           .__card
           {
               width: 100%;
               padding: 0.3em;
               display: flex;
               justify-content: flex-start;
               align-items: flex-start;
               flex-direction: column;
               background: white;
               overflow: hidden;
               position: relative;
               border:0.01em solid lightgray;
            //    box-shadow:1px 5px 16px 2px #818181;
              
               .__cardImage
                {
                    width: 100%;
                    position: relative;
                    height: 10em;
                    overflow: hidden;
                    position: relative;
                    background: rgba(1,1,1,0.5);
                    img
                    {
                        @include responsive_image(100%);
                        transform: scale(1,1);
                        height: 100%;
                        cursor: pointer;
                        filter: blur(0.5px) brightness(80%);
                        transition: transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s,filter cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s;
                    &:hover
                    {
                        transform: scale(1.2,1.2);
                        filter: blur(0px) brightness(100%);
                        transition: transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s,filter cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.44s;
                    }
                    }
                }
               
                .__cardTitle
                {
                  margin-top: 0.5em;
                  font-size: 1.2rem;
                  font-weight: bold;
                  color: #2b46b4;
                  padding: 0.5em;
                  letter-spacing: 0.59px;
                  font-family: 'Alegreya Sans',sans-serif;
                  text-align: left;
                }
                .__cardDetails
                {
                    ul
                    {
                        list-style: none;
                        padding: 1em;
                        li, li a
                        {
                            font-family: 'Abel',sans-serif;
                            margin-bottom: 0.55em;
                            font-weight: bold;
                            font-size: 0.92rem;
                            text-decoration: none;
                            color: #7f8c8d;
                            letter-spacing: 0.6px;
                            cursor: pointer;

                            &:hover
                            {
                               color: crimson;
                            }
                            
                        }
                    }
                
                }
                .__cardButton
                {
                    padding:0.8em;
                    position: absolute;
                    right: 0;
                    left: 0;
                    z-index: 20;
                    bottom: 0.3em;
                    width: 100%;
                    text-align: center;
                    background: linear-gradient(180deg,#479ed8,#094e7c);
                    color:white;
                    letter-spacing: 0.6px;
                    font-weight: bold;
                    cursor: pointer;
                    box-sizing: border-box;
                    border-radius: 0.1em;
                    transform: scale(0.9,0.9);
                    transition: transform cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.44s;
                    a
                    {
                        text-decoration: none;
                        color:inherit;
                    }
                    &:hover
                    {
                        transform: scale(0.95,0.95);
                        transition: transform cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.44s;
                        background: linear-gradient(180deg,#1c8648,#096e35);
                    }
                }
           }

       }
       .AdmissionProcedure
       {
          ul
          {
              list-style: none;
              li
              {
                 h3{
                    margin-bottom: 0.7em;
                    color:#2b46b4;
                 } 
                  .ProcedurePoints
                  {
                      ul{
                          list-style: none;
                          padding: 0.5em;
                          li
                          {
                              margin-bottom: 0.66em;
                              font-size:1rem;
                              letter-spacing: 0.5px;
                              font-weight: bold;
                              color:#4e4e4e;
                              font-family: 'Abel', sans-serif;
                          }
                      }
                  }
              }
          }
       }
       p
       {
         text-align: justify;
         line-height: 25px;
         color: #464646;
         font-size:0.99rem;
       }
   }
   .Admission__QuickAccess
   {
       padding: 1em 1em 1em 1em;
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: flex-start;
       border-left: 0.06rem solid lightgray;
       ul
       {
           list-style: none;
           position: relative;
           li
           {
               a
               {
                   text-decoration: none;
                   color: inherit;
               }
               &:nth-child(1)
               {
                   margin-bottom: 1.2em;
                   letter-spacing: 1px;
                   color:#182C61;
                   width: 100%;
                   font-size: 3vmin;
                   padding: 0.2em 0.2em 0.2em 0.5em;
                   border-left: 0.22em solid #ffa502;
               }
              
               &:not(:nth-child(1))
               {
                padding-left: 1em;   
                margin-bottom: 0.96em;
                cursor: pointer;
                font-weight: bold;
                font-size: 0.89rem;
                color:#3742fa;

                &:hover
                {
                    color:#e67e22;
                }
               }
           }

       }
   }
  
 
}

@media screen and (max-width:777px) {
    .Admission__MainWindow{
        display: grid;
        grid-template-columns: none;
        .Admission__QuickAccess
        {
            border:none;
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }
    }
}