*,*::after,*::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
@mixin container($pad,$mar,$w,$h) {
    padding: $pad;
    @if $mar {
        margin: $mar;
    }
    width: $w;
    height: $h;
}

@mixin gridMaker($template_col,$template_rows,$grid_gap) {

    display: grid;
    grid-template-columns: $template_col;
    grid-auto-rows: $template_rows;
    grid-gap: $grid_gap;
}

@mixin  responsive_image($width) {
         width: $width;
         max-width: 100%;
}

@mixin  AlignCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin  AlignCenterTop {
     display: flex;
     justify-content: center;
     align-items: flex-start;
}